* {
    margin:0;
    padding:0;
}

body {
    top:0;
    left:0;
    width:100%;
    display:block;
    background-color: red;
}

#f {
    color:lightgreen;
    font-size:1000%;
    text-align: center;
    display: block;
}